parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ActivityLogController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Pagination\\AbstractPaginator\<int,Spatie\\Activitylog\\Models\\Activity\>\:\:through\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/ActivityLogController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/ActivityLogController.php

		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Access to an undefined property App\\Models\\Shift\:\:\$postes_total\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nom\.$#'
			identifier: property.notFound
			count: 5
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$shift\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$statut\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$telephone\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:assignationsActives\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:nomComplet\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Cannot call method format\(\) on string\.$#'
			identifier: method.nonObject
			count: 3
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Shift\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\ShiftTransferRequest\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nom\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ReportController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/RoleController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$cle\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$commentaire\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$date\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nom\.$#'
			identifier: property.notFound
			count: 7
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$responsable\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$shift\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$statut\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$type\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$workflowStep\.$#'
			identifier: property.notFound
			count: 9
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Cannot call method format\(\) on string\.$#'
			identifier: method.nonObject
			count: 12
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Assignment\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 2
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Servant\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\ShiftTransferRequest\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 3
			path: app/Http/Controllers/ServantController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nom\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/ServantReintegrationController.php

		-
			message: '#^Using nullsafe property access "\?\-\>nom" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/ServantReintegrationController.php

		-
			message: '#^Access to an undefined property App\\Models\\Shift\:\:\$postes_total\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ShiftController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$date_debut\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ShiftController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ShiftController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/ShiftController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ShiftController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nom\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/ShiftController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$servant\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ShiftController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$statut\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ShiftController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$workflowStep\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ShiftController.php

		-
			message: '#^Cannot call method format\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/ShiftController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/ShiftController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: array\{user_id\: mixed, name\: mixed, email\: mixed, role\: mixed, date_debut\: mixed\}, Closure\(App\\Models\\ShiftMember\)\: array\{user_id\: mixed, name\: mixed, email\: mixed, role\: mixed, date_debut\: mixed\} given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/ShiftController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Pagination\\AbstractPaginator\<int,App\\Models\\Shift\>\:\:through\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/ShiftController.php

		-
			message: '#^Cannot call method format\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/ShiftRecruitmentNeedController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Shift\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/ShiftRecruitmentNeedController.php

		-
			message: '#^Using nullsafe property access "\?\-\>nombre_a_recruter" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/ShiftRecruitmentNeedController.php

		-
			message: '#^Using nullsafe property access "\?\-\>ordre" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/ShiftTemplateController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$genre\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ShiftTransferRequestController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Controllers/ShiftTransferRequestController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nom\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/ShiftTransferRequestController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$telephone\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/ShiftTransferRequestController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:assurerGenreCompatible\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/ShiftTransferRequestController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:nomComplet\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/ShiftTransferRequestController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:notify\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/ShiftTransferRequestController.php

		-
			message: '#^Cannot call method format\(\) on string\.$#'
			identifier: method.nonObject
			count: 5
			path: app/Http/Controllers/ShiftTransferRequestController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Pagination\\AbstractPaginator\<int,App\\Models\\ShiftTransferRequest\>\:\:through\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 2
			path: app/Http/Controllers/ShiftTransferRequestController.php

		-
			message: '#^Parameter \#1 \$key of method Illuminate\\Support\\Collection\<int,array\<string, mixed\>\>\:\:contains\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/ShiftTransferRequestController.php

		-
			message: '#^Parameter \#1 \$value of function collect contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/ShiftTransferRequestController.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: app/Http/Controllers/ShiftTransferRequestController.php

		-
			message: '#^Strict comparison using \=\=\= between ''permutation''\|''releve'' and ''appel'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 3
			path: app/Http/Controllers/ShiftTransferRequestController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nom\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 5
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:nomComplet\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\ShiftMember\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Pagination\\AbstractPaginator\<int,App\\Models\\User\>\:\:through\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Middleware/EnsureUserHasRole.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Middleware/HandleInertiaRequests.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Shift.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$servant\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/ShiftPosition.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/ShiftTransferRequest.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nom\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/ShiftTransferRequest.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$role\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/ShiftTransferRequest.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/ShiftTransferRequest.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$gere_shifts\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 4
			path: app/Models/User.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:nomComplet\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Notifications/DemandeTransfertResolue.php

		-
			message: '#^Match arm comparison between ''permutation'' and ''appel'' is always false\.$#'
			identifier: match.alwaysFalse
			count: 1
			path: app/Notifications/DemandeTransfertResolue.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Notifications/NouvelleDemandeTransfert.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$nom\.$#'
			identifier: property.notFound
			count: 1
			path: app/Notifications/NouvelleDemandeTransfert.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:nomComplet\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Notifications/NouvelleDemandeTransfert.php

		-
			message: '#^Match arm comparison between ''permutation'' and ''appel'' is always false\.$#'
			identifier: match.alwaysFalse
			count: 1
			path: app/Notifications/NouvelleDemandeTransfert.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$organisation_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Policies/Policy.php
